<h1>This is the home for memes</h1>

<div class="flex-center">
  <%= link_to "Create a new meme", new_meme_path, class: "btn btn-lg btn-primary" %>
</div>

<div class="posts-wrapper row">
  <% @memes.each do |meme| %>
    <div class="post">
      <div class="image center-block">
        <%= image_tag meme.picture, class:'img-responsive' %>
      </div>
      <p class="caption">
        <span class="name"><%= meme.name %></span>
        <br>
        <br>
        <%= meme.caption %>
        <br>
        <%= link_to 'I wanna know more please', meme  %>
        <br>
        <% if current_user.admin? %>
        <%= link_to "Delete", meme, method: :delete,
                                  data: { confirm: "You sure?" } %>

        <% end %>
        <br>
        <br>
        <span class="user">Meme added by: <%=  link_to meme.user.name,
                                               meme.user %></span>
      </p>
    </div>
  <% end %>
</div>


