<% provide(:title, @user.name) %>


<div class='row'>
  <aside class='col-md-4'>
    <section class='user-info'>
      <h1>
        <%= gravatar_for @user, 320 %>
        <%= @user.name %>
        <h2>
          <%= @user.email %>
        </h2>
      </h1>
      <span><%= pluralize(current_user.posts.count, 'post') %></span>
    </section>
  </aside>
    <div class="col-md-8">
    <% if @user.posts.any? %>
      <h3>meme related posts</h3>
      <ol class="posts">
        <%= render @posts %>
      </ol>
      <%= will_paginate @posts %>
    <% end %>
  </div>
</div>

<%= link_to 'All users', index_path %>
